.footer .social {
    display: flex;
    gap: 10px; /* Mellanrum mellan ikoner */
}

.footer .social a {
    color: inherit; /* Ärva textfärgen */
    text-decoration: none;
}

.footer .social i {
    font-size: 1.5rem; /* Gör ikoner större */
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #222;
    background-color: #144312b8;
    color: white;
}

.footer a {
    color: white;
}

.footer .social {
    font-size: 2rem;
}